---
import client from "@tina/__generated__/client";
import BaseLayout from "@/layouts/BaseLayout.astro";
import HomePage from "@tina/pages/HomePage.tsx";

import { getImage } from 'astro:assets';
import { resolveTinaImage } from "@/utils/resolveImage";

const homePageEnvelope = await client.queries.myHomePage({ relativePath: "home.json" });

const title = homePageEnvelope.data.homePage.meta.title;
const description = homePageEnvelope.data.homePage.meta.description;

const tinaImage = homePageEnvelope.data.homePage.image;
const tinaImageAlt = homePageEnvelope.data.homePage.imageAlt;
const raw = await resolveTinaImage(tinaImage);
const optimized = raw ? await getImage({ src: raw, width: 100, alt: tinaImageAlt, }) : null;

---

<BaseLayout title={title} description={description}>
  <div>
    <HomePage {...homePageEnvelope} testImg={optimized} client:tina />
  </div>
</BaseLayout>
